<div class="forum-page">
  <div class="forum-header">
    <h2>Submit Interview Question Forum</h2>
    <p>View all questions and ask your question at the bottom.</p>
  </div>

  <div class="question-list">
    @for (item of questions; track item.id; let i = $index) {
      <div class="question-card">
        <div class="question-top">
          <!-- <div class="question-number">{{ i + 1 }}</div> -->

          <div class="question-content">
            <!-- <h3>{{ item.company }}</h3> -->
            <p><a href="#" routerLink="/interview-questions/{{item.topic}}">{{ item.question }}</a></p>

            <div class="question-meta">
              <span><strong>Topic/Language:</strong> {{ item.topic }}</span>
              <span><strong>Company:</strong> {{ item.company }}</span>
              <span><strong>Asked By:</strong> {{ item.name }}</span>
              <span><strong>Posted:</strong> {{ item.createdAt }}</span>
            </div>
          </div>
        </div>
      </div>
    } @empty {
      <div class="empty-box">No questions available.</div>
    }
  </div>

  <div class="ask-question-box">
    <h3>Submit Your Question</h3>

    <div class="form-group">
      <label>Your Name</label>
      <input
        type="text"
        [(ngModel)]="form.name"
        placeholder="Enter your name"
      />
    </div>

    <div class="form-group">
      <label>Your Email</label>
      <input
        type="text"
        [(ngModel)]="form.email"
        placeholder="Enter your email"
      />
    </div>

    <div class="form-group">
      <label>Question Topic/Language</label>
      <input
        type="text"
        [(ngModel)]="form.topic"
        placeholder="Enter question topic/language"
      />
    </div>

     <div class="form-group">
      <label>In which Company question asked?</label>
      <input
        type="text"
        [(ngModel)]="form.company"
        placeholder="Enter company name"
      />
    </div>

    <div class="form-group">
      <label>Your Question</label>
      <textarea
        rows="5"
        [(ngModel)]="form.question"
        placeholder="Write your question here"
      ></textarea>
    </div>

    <button class="submit-btn" (click)="submitQuestion()">
      Submit Question
    </button>
  </div>
</div>